---
layout: default
title: Anasayfa
---
<div class="row">
<section class="recent-posts col-12 col-sm-4">

        <div>
            {% include sidebar.html %}
        </div>
    
    </section>

<!-- <yazılar>
================================================== -->
<section class="featured-posts col-12 col-sm-8">

    <div class="section-title">
        <h2><span>Yazılarımız</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.blog == true %}

            {% include postbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>
</div>
<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}