---
layout: default
title: Home
---
<div class="row">
<section class="recent-posts col-3">

        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>
    
    </section>

<!-- <yazılar>
================================================== -->
<section class="featured-posts col-9">

    <div class="section-title">
        <h2><span>Öne Çıkanlar</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.blog == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>
</div>
<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

