---
layout: default
title: Anasayfa
---

<div class="row col-12">
    <section class="featured-posts">

        <div class="section-title">
            <h2><span>Öne Çıkanlar</span></h2>
        </div>
    
        <div class="row listfeaturedtag">
    
        {% for post in site.posts %}
    
            {% if post.featured == true %}
    
                {% include featuredbox.html %}
    
            {% endif %}
    
        {% endfor %}
    
        </div>
    
    </section>
</div>

<!-- <Yazılar>
================================================== -->
<section class="featured-posts col-12">
    <div class="row">

        <div class="section-title">
            <h2><span>Yazılarımız</span></h2>
        </div>

        <div class="row listfeaturedtag">

            {% for post in site.posts %}

                {% if post.blog == true %}

                    {% include blogbox.html %}

                {% endif %}

            {% endfor %}

        </div>
    </div>
</section>

<!-- <Yazılar>
================================================== -->
<section class="featured-posts col-12">
    <div class="row">

        <div class="section-title">
            <h2><span>Yazılarımız</span></h2>
        </div>

        <div class="row listfeaturedtag">

            {% for post in site.posts %}

                {% if post.blog == true %}

                    {% include suggestedbox.html %}

                {% endif %}

            {% endfor %}

        </div>
    </div>
</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}