{% assign author = site.authors[post.author] %}
<div class="col-12 col-sm-6 col-md-4">
<div class="card rounded shadow">
    <div class="row">
        <div class="col-12 wrapthumbnail">
            <a href="{{ post.url | absolute_url }}">
            <div class="thumbnail shadow rounded m-3 resim-250" style="background-image:url({{ site.baseurl }}/{{ post.image }}); ">
            </div>
            </a>
        </div>
        <div class="col-12 mt-4">
            <div class="card-block text-center">
                <h2 class="card-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:10 }}</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
