{% assign author = site.authors[post.author] %}
<div class="card eseralti-box rounded shadow">
    <div class="row m-2 text-center">
        <div class="col-md-5 wrapthumbnail " style="margin: auto; height: 25vh;">
            <a href="{{ post.url | absolute_url }}">
                    <div class="thumbnail"><img src="{{ site.baseurl }}/{{ post.image }}" alt=""></div>
                    <!-- style="background-image:url({{ site.baseurl }}/{{ post.image }});"  -->
            </a>
        </div>
        <div class="col-12">
            <div class="card-block" style="text-align: center; margin-top: 10px;">
                <h1 class="card-title"><a href="{{ post.url | absolute_url }}" style="color:black">{{ post.title }}</a></h1>
            </div>
        </div>
    </div>
</div>