<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Bülten</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
             <h5><span>Önerilen</span></h5>
            <section class="posts">
    
                <div class="row">
                
                    {% for post in site.posts %}
                
                        {% if post.suggested == true %}
                
                            {% include suggestedbox.html %}
                
                        {% endif %}
                
                    {% endfor %}
                
                </div>
                
            </section>
        </div>
            
</div>