<div class="sidebar">
                  
        <div class="sidebar-section">
                <h5><span>Önerilen</span></h5>
             <section class="posts">
    
                <div class="row" style="margin-top: 10px;">
                
                    {% for post in site.posts %}
                
                        {% if post.suggested == true %}
                
                            {% include suggestedbox.html %}
                
                        {% endif %}
                
                    {% endfor %}
                
                </div>
                
            </section>
        </div>
            
</div>