<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-sm-6 col-xl-4">
<div class="card d-flex">
    <div class="row">
        <div class="col-md-5 wrapthumbnail">
            <a href="{{ post.url | absolute_url }}">
               <div class="thumbnail"><img class="resim-250" src="{{ site.baseurl }}/{{ post.image }}" alt=""></div>
               <!-- style="background-image:url({{ site.baseurl }}/{{ post.image }});"  -->
            </a>
        </div>
        <div class="col-md-7">
            <div class="card-block">
                <h4 class="card-title m-4"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4>
                </div>
        </div>
    </div>
</div>
</div>
<!-- end post -->