---
layout: default
disqus: true
comment: true
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

<div class="row mt-3">

    <div class="col-12">
        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div>
            <div class="text-center">
                <div class="mainheading">

                    <!-- Post Categories -->
                    <div class="after-post-tags">
                        <ul class="tags">
                            {% assign sortedCategories = page.categories | sort %}
                            {% for category in sortedCategories %}
                            <li>
                                <a class="linkcursor" href="#">{{ category }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End Categories -->

                    <!-- Post Title -->
                    <h1 class="posttitle">{{ page.title }}</h1>

                </div>
                <div class="text-center">
                    <!-- Post Featured Image -->
                    {% if page.image %}<img class="featured-image resim-250" src="{{ site.baseurl }}/{{ page.image }}"
                        alt="{{ page.title }}">{% endif %}
                    <!-- End Featured Image -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    {% if post.dolink == true %}
                    <a class="btn btn-outline-dark mr-5" href="{{ post.mlink }}" style="color: black;"
                        target="_blank">Satın Alın</a>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if post.dolink == true %}
                    <a class="btn btn-outline-dark" href="{{ post.dolinkpage }}" style="color: black;"
                        target="_blank">Sayfaları inceleyin</a>
                    {% endif %}
                </div>
            </div>
            <!-- Post Content -->
            <div class="article-post" style="text-align: justify;">
                {{content}}
                <div class="clearfix"></div>
            </div>

            <!-- Post Date -->
            <p>
                <small>
                    <span class="post-date"><time class="post-date"
                            datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%d/%m/%Y" }}</time></span>
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"
                        itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                </small>
            </p>



            <!-- Prev/Next -->
            <div class="row PageNavigation mt-4 prevnextlinks">
                {% if page.previous.url %}
                <div class="col-md-6 rightborder pl-0">
                    <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo;
                        {{page.previous.title}}</a>
                </div>
                {% endif %}
                {% if page.next.url %}
                <div class="col-md-6 text-right pr-0">
                    <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
                </div>
                {% endif %}
            </div>
            <!-- End Prev/Next -->

        </div>



<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->


    </div>
    <!-- End Post -->
</div>


<!-- End Article
================================================== -->