<footer>
    <div class="container">
        <div class="row col-12 col-md-4 text-center">
            <!-- Grid column -->
            <div class="col-md-4 col-12 mt-3">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/images/logo-beyaz.png" alt="{{ site.name }}">
                </a>
            </div>
            <!-- Grid column -->
        </div>
        <div class="row col-12 col-md-4 text-center">
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
                <a href="{{ site.baseurl }}/indexeserler.html">
                    <h6 class=" font-weight" style="color: white;">Eserlerimiz</h6>
                </a>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
              <div class="col-md-2 mb-3"> 
                <a href="{{ site.baseurl }}/indexyazarlar.html">
                    <h6 class=" font-weight" style="color: white;">Yazarlarımız</h6>
                </a>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
                <a href="{{ site.baseurl }}/about">
                    <h6 class=" font-weight" style="color: white;"> Hakkımızda</h6>
                </a>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
                <a href="{{ site.baseurl }}/contact">
                <h6 class=" font-weight" style="color: white;">İletişim</h6>
            </a>
            </div>
            <!-- Grid column -->
        </div>
        <div class="row col-12 col-md-4 text-center">
            <!-- Grid column -->
            <div class="col-12 mb-3"> 
                <a class="btn btn-outline-light" href="https://www.damlayayinevi.com.tr/mihrabad-yayinlari" target="_blank" style="font-size: medium;">Mağaza</a>
             </div>
            <!-- Grid column -->
        </div>
    </div>
</footer>

<footer class="page-footer font-small" style="background-color:#006560;">

        <!-- Footer Links -->
        <div class="container">
      
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
              <a href="{{ site.baseurl }}/indexeserler.html">
              <h6 class=" font-weight" style="color: white;">
                  Eserlerimiz
              </h6></a>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
              <a href="{{ site.baseurl }}/indexyazarlar.html">
              <h6 class=" font-weight" style="color: white;">
                  Yazarlarımız
              </h6></a>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
              <a href="{{ site.baseurl }}/about">
              <h6 class=" font-weight" style="color: white;">
                  Hakkımızda
              </h6></a>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
              <a href="{{ site.baseurl }}/contact">
              <h6 class=" font-weight" style="color: white;">
                  İletişim
              </h6></a>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3"> 
              <a class="btn btn-outline-light" href="https://www.damlayayinevi.com.tr/mihrabad-yayinlari" target="_blank" style="font-size: medium;">Mağaza</a>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr class="rgba-white-light" style="margin: 0 15%;">
      
          <!-- Grid row-->
          <div class="row d-flex justify-content-center mb-md-0 mb-4">
      
            <!-- Grid column -->
            <div class="col-md-4 col-12 mt-3">
             <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/assets/images/logo-beyaz.png" alt="{{ site.name }}">
              </a>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
      
          <!-- Grid row-->
          <div class="row pb-3  text-center mt-5">
      
            <!-- Grid column -->
            <div class="col-md-12">
      
              <div class="mb-5 flex-center">
        
                <!-- Facebook -->
                <a class="fb-ic " href="https://tr-tr.facebook.com/mihrabadyayin/">
                  <i class="fab fa-facebook-f fa-lg text-white mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/mihrabadyayin">
                  <i class="fab fa-twitter fa-lg text-white mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic" href="{{ site.baseurl }}/contact">
                  <i class="fab fa-google-plus-g fa-lg text-white mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/mihrabat/?hl=tr">
                  <i class="fab fa-instagram fa-lg text-white mr-4"> </i>
                </a>
        
              </div>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center" style="color: white;">
          © Damla Yayınevi 2019, Tüm Hakları Mahfuzdur.
        </div>
        <!-- Copyright -->
      
      </footer>